.quizStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.quizBlock{
    background-color: rgb(2, 40, 35);
    color: white;
    padding: 50px;
    border-radius: 10px;
    height: 70%;
    width: 70%;
}

.header{
  text-align: center;
  font-size: xx-large;
}

.question{
   font-size: x-large;
   margin: 5px;
   margin-top: 50px;
   margin-bottom: 10px;
}

.radioOptions{
    font-size: larger;
    padding: 7px;
    display: flex;
}

.radioOptions::before {
    width: 20px; /* size of the inner circle */
    height: 20px; /* size of the inner circle */
}

.nextBtn{
    background-color: white;
    color: rgb(2, 40, 35);
    height: 40px;
    width: 80px;
    font-size: larger;
    border-radius: 10px;
}
.nextBtn:hover {
    background-color: rgba(255, 255, 255, 0.765);
}

.tryAgainBtn{
    background-color: white;
    color: rgb(2, 40, 35);
    height: 50px;
    width: 150px;
    font-size: larger;
    border-radius: 10px;
}
.tryAgainBtn:hover {
    background-color: rgba(255, 255, 255, 0.765);
}

.btnStyle{
    display: flex;
    align-items: baseline;
    justify-content: end;
    margin-top: 100px;
    
}

.nextBtn{
    margin: 5px;
}

.results{
   margin: 100px;
}

.score{
    font-size: xx-large;
    font: bold;
    display: flex;
}

.homeStyle{
    text-align: center;
    margin-top: 70px;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }